cryptico/cryptico_n8n/wf-03-status-update.json
{
  "name": "Cryptico-ATM-03-Status-Update",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order/status",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "01-trigger-webhook",
      "name": "01-trigger-webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "cryptico-status-update"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Validate admin authentication and input\nconst input = $input.first().json;\nconst headers = $input.first().json.$headers || {};\n\nconst ADMIN_API_KEY = $env.ADMIN_API_KEY;\nconst providedKey = headers['x-admin-key'] || headers['X-Admin-Key'] || input.adminKey;\n\nconst errors = [];\n\n// Auth check\nif (!providedKey || providedKey !== ADMIN_API_KEY) {\n  return [{\n    json: {\n      isAuthorized: false,\n      error: 'Invalid or missing admin API key'\n    }\n  }];\n}\n\n// Input validation\nconst validActions = ['approve', 'reject', 'complete', 'cancel'];\nif (!input.orderId) errors.push('orderId is required');\nif (!input.action) errors.push('action is required');\nif (input.action && !validActions.includes(input.action)) {\n  errors.push(`action must be one of: ${validActions.join(', ')}`);\n}\nif (input.action === 'complete' && !input.txHash) {\n  errors.push('txHash is required when completing an order');\n}\n\nreturn [{\n  json: {\n    ...input,\n    isAuthorized: true,\n    isValid: errors.length === 0,\n    validationErrors: errors,\n    receivedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "05-auth-validate",
      "name": "05-auth-validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isAuthorized }}",
              "value2": true
            }
          ]
        }
      },
      "id": "06-auth-gate",
      "name": "06-auth-gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isValid }}",
              "value2": true
            }
          ]
        }
      },
      "id": "07-validation-gate",
      "name": "07-validation-gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 200]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "orders",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "equals",
              "keyValue": "={{ $json.orderId }}"
            }
          ]
        },
        "returnAll": false,
        "limit": 1
      },
      "id": "10-fetch-order",
      "name": "10-fetch-order",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1140, 100],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "11-order-exists",
      "name": "11-order-exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1360, 100]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Validate state transition\nconst order = $input.first().json;\nconst action = $('05-auth-validate').first().json.action;\n\nconst VALID_TRANSITIONS = {\n  'pending': ['approve', 'reject', 'cancel'],\n  'approved': ['complete', 'cancel'],\n  'completed': [],\n  'rejected': [],\n  'cancelled': []\n};\n\nconst currentStatus = order.status;\nconst allowedActions = VALID_TRANSITIONS[currentStatus] || [];\n\nif (!allowedActions.includes(action)) {\n  return [{\n    json: {\n      ...order,\n      canTransition: false,\n      error: `Cannot ${action} an order with status '${currentStatus}'. Allowed actions: ${allowedActions.join(', ') || 'none'}`,\n      requestedAction: action\n    }\n  }];\n}\n\nconst STATUS_MAP = {\n  'approve': 'approved',\n  'reject': 'rejected',\n  'complete': 'completed',\n  'cancel': 'cancelled'\n};\n\nreturn [{\n  json: {\n    ...order,\n    canTransition: true,\n    requestedAction: action,\n    newStatus: STATUS_MAP[action],\n    txHash: $('05-auth-validate').first().json.txHash || null,\n    adminNote: $('05-auth-validate').first().json.note || null\n  }\n}];"
      },
      "id": "15-validate-transition",
      "name": "15-validate-transition",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.canTransition }}",
              "value2": true
            }
          ]
        }
      },
      "id": "16-transition-gate",
      "name": "16-transition-gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1800, 0]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "orders",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "equals",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldName": "status", "fieldValue": "={{ $json.newStatus }}" },
            { "fieldName": "tx_hash", "fieldValue": "={{ $json.txHash }}" },
            { "fieldName": "admin_note", "fieldValue": "={{ $json.adminNote }}" },
            { "fieldName": "updated_at", "fieldValue": "={{ new Date().toISOString() }}" }
          ]
        }
      },
      "id": "20-update-order",
      "name": "20-update-order",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2020, -100],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "audit_log",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldName": "entity_type", "fieldValue": "order" },
            { "fieldName": "entity_id", "fieldValue": "={{ $json.id }}" },
            { "fieldName": "action", "fieldValue": "={{ $json.requestedAction }}" },
            { "fieldName": "old_status", "fieldValue": "={{ $json.status }}" },
            { "fieldName": "new_status", "fieldValue": "={{ $json.newStatus }}" },
            { "fieldName": "details", "fieldValue": "={{ JSON.stringify({ txHash: $json.txHash, note: $json.adminNote }) }}" },
            { "fieldName": "created_at", "fieldValue": "={{ new Date().toISOString() }}" }
          ]
        }
      },
      "id": "25-audit-log",
      "name": "25-audit-log",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2240, -100],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Format status update notification for Telegram\nconst order = $input.first().json;\n\nconst STATUS_EMOJI = {\n  'approved': '✅',\n  'rejected': '❌',\n  'completed': '🎉',\n  'cancelled': '🚫'\n};\n\nconst NETWORK_EXPLORERS = {\n  'TRC-20': 'https://tronscan.org/#/transaction/',\n  'BEP-20': 'https://bscscan.com/tx/',\n  'ERC-20': 'https://etherscan.io/tx/',\n  'POLYGON': 'https://polygonscan.com/tx/'\n};\n\nconst formatMYR = (amount) => `RM ${Number(amount).toFixed(2)}`;\nconst formatCrypto = (amount) => Number(amount).toFixed(4);\n\nlet message = `\n${STATUS_EMOJI[order.newStatus] || '📋'} <b>ORDER ${order.newStatus.toUpperCase()}</b>\n\n📋 Order: <code>${order.id}</code>\n👤 Customer: ${order.customer_name}\n🪙 Amount: ${formatCrypto(order.amount_crypto)} ${order.crypto}\n📍 Network: ${order.network}\n`.trim();\n\nif (order.newStatus === 'completed' && order.txHash) {\n  const explorer = NETWORK_EXPLORERS[order.network] || '';\n  message += `\\n\\n🔗 <b>TX Hash:</b> <a href=\"${explorer}${order.txHash}\">${order.txHash.slice(0, 20)}...</a>`;\n}\n\nif (order.adminNote) {\n  message += `\\n\\n📝 <b>Note:</b> ${order.adminNote}`;\n}\n\nmessage += `\\n\\n🕐 Updated: ${new Date().toLocaleString('en-MY', { dateStyle: 'medium', timeStyle: 'short' })}`;\n\nreturn [{\n  json: {\n    ...order,\n    telegramMessage: message\n  }\n}];"
      },
      "id": "30-format-telegram",
      "name": "30-format-telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2460, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\",\n  \"text\": {{ JSON.stringify($json.telegramMessage) }},\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "id": "35-send-telegram",
      "name": "35-send-telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2680, -100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"orderId\": \"{{ $json.id }}\",\n  \"previousStatus\": \"{{ $json.status }}\",\n  \"newStatus\": \"{{ $json.newStatus }}\",\n  \"action\": \"{{ $json.requestedAction }}\",\n  \"txHash\": {{ $json.txHash ? '\"' + $json.txHash + '\"' : 'null' }},\n  \"message\": \"Order {{ $json.id }} has been {{ $json.newStatus }}\",\n  \"updatedAt\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "40-reply-success",
      "name": "40-reply-success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2900, -100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": false,\n  \"error_code\": \"UNAUTHORIZED\",\n  \"message\": \"{{ $json.error }}\"\n}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "99-reply-unauthorized",
      "name": "99-reply-unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": false,\n  \"error_code\": \"VALIDATION_ERROR\",\n  \"message\": \"Request validation failed\",\n  \"errors\": {{ JSON.stringify($json.validationErrors) }}\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "99-reply-validation-error",
      "name": "99-reply-validation-error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": false,\n  \"error_code\": \"NOT_FOUND\",\n  \"message\": \"Order not found\"\n}",
        "options": {
          "responseCode": 404
        }
      },
      "id": "99-reply-not-found",
      "name": "99-reply-not-found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1580, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": false,\n  \"error_code\": \"INVALID_TRANSITION\",\n  \"message\": \"{{ $json.error }}\",\n  \"currentStatus\": \"{{ $json.status }}\",\n  \"requestedAction\": \"{{ $json.requestedAction }}\"\n}",
        "options": {
          "responseCode": 409
        }
      },
      "id": "99-reply-invalid-transition",
      "name": "99-reply-invalid-transition",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2020, 100]
    }
  ],
  "connections": {
    "01-trigger-webhook": {
      "main": [[ { "node": "05-auth-validate", "type": "main", "index": 0 } ]]
    },
    "05-auth-validate": {
      "main": [[ { "node": "06-auth-gate", "type": "main", "index": 0 } ]]
    },
    "06-auth-gate": {
      "main": [
        [ { "node": "07-validation-gate", "type": "main", "index": 0 } ],
        [ { "node": "99-reply-unauthorized", "type": "main", "index": 0 } ]
      ]
    },
    "07-validation-gate": {
      "main": [
        [ { "node": "10-fetch-order", "type": "main", "index": 0 } ],
        [ { "node": "99-reply-validation-error", "type": "main", "index": 0 } ]
      ]
    },
    "10-fetch-order": {
      "main": [[ { "node": "11-order-exists", "type": "main", "index": 0 } ]]
    },
    "11-order-exists": {
      "main": [
        [ { "node": "15-validate-transition", "type": "main", "index": 0 } ],
        [ { "node": "99-reply-not-found", "type": "main", "index": 0 } ]
      ]
    },
    "15-validate-transition": {
      "main": [[ { "node": "16-transition-gate", "type": "main", "index": 0 } ]]
    },
    "16-transition-gate": {
      "main": [
        [ { "node": "20-update-order", "type": "main", "index": 0 } ],
        [ { "node": "99-reply-invalid-transition", "type": "main", "index": 0 } ]
      ]
    },
    "20-update-order": {
      "main": [[ { "node": "25-audit-log", "type": "main", "index": 0 } ]]
    },
    "25-audit-log": {
      "main": [[ { "node": "30-format-telegram", "type": "main", "index": 0 } ]]
    },
    "30-format-telegram": {
      "main": [[ { "node": "35-send-telegram", "type": "main", "index": 0 } ]]
    },
    "35-send-telegram": {
      "main": [[ { "node": "40-reply-success", "type": "main", "index": 0 } ]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "errorWorkflow": "Cryptico-ATM-07-Error-Handler"
  },
  "tags": [
    { "name": "cryptico-atm" },
    { "name": "status-update" }
  ],
  "versionId": "1.0.0"
}
