popshop_n8n/wf-01-order-submit.json
{
  "name": "CBL-Popshop-01-Order-Submit",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "popshop/order/submit",
        "authentication": "none",
        "responseMode": "responseNode",
        "options": { "rawBody": false }
      },
      "id": "01-trigger-webhook",
      "name": "01-trigger-webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "popshop-order-submit"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ============================================\n// CONFIGURATION - EDIT THESE VALUES\n// ============================================\nconst TELEGRAM_BOT_TOKEN = 'YOUR_BOT_TOKEN_HERE';\nconst TELEGRAM_CHAT_ID = '5426763403';\nconst ADMIN_EMAIL = 'zeidalqadri@gmail.com';\n// ============================================\n\n// Pass through input data with config\nconst input = $input.first().json.body || $input.first().json;\nreturn [{ json: { ...input, _config: { TELEGRAM_BOT_TOKEN, TELEGRAM_CHAT_ID, ADMIN_EMAIL } } }];"
      },
      "id": "02-config",
      "name": "02-config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "notesInFlow": true,
      "notes": "⚠️ EDIT: Set Telegram Token, Chat ID, and Admin Email"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json;\nconst config = input._config;\nconst errors = [];\n\n// Validate items array\nif (!input.items || !Array.isArray(input.items) || input.items.length === 0) {\n  errors.push('items array is required and must not be empty');\n} else {\n  input.items.forEach((item, index) => {\n    if (!item.productId) errors.push(`items[${index}].productId is required`);\n    if (!item.productName) errors.push(`items[${index}].productName is required`);\n    if (!item.size) errors.push(`items[${index}].size is required`);\n    if (!item.quantity || item.quantity < 1) errors.push(`items[${index}].quantity must be at least 1`);\n    if (!item.price || item.price <= 0) errors.push(`items[${index}].price must be positive`);\n  });\n}\n\n// Validate totals\nif (!input.subtotal || input.subtotal <= 0) errors.push('subtotal must be positive');\nif (input.shippingFee === undefined) errors.push('shippingFee is required');\nif (!input.total || input.total <= 0) errors.push('total must be positive');\n\n// Validate customer\nif (!input.customer) {\n  errors.push('customer object is required');\n} else {\n  if (!input.customer.name || input.customer.name.length < 2) errors.push('customer.name must be at least 2 characters');\n  if (!input.customer.phone) errors.push('customer.phone is required');\n  if (!input.customer.email || !/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(input.customer.email)) errors.push('customer.email must be valid');\n  if (!input.customer.address) {\n    errors.push('customer.address is required');\n  } else {\n    if (!input.customer.address.line1) errors.push('customer.address.line1 is required');\n    if (!input.customer.address.city) errors.push('customer.address.city is required');\n    if (!input.customer.address.state) errors.push('customer.address.state is required');\n    if (!input.customer.address.postcode || !/^\\d{5}$/.test(input.customer.address.postcode)) errors.push('customer.address.postcode must be 5 digits');\n  }\n}\n\nreturn [{ json: { ...input, _config: config, isValid: errors.length === 0, validationErrors: errors, receivedAt: new Date().toISOString() } }];"
      },
      "id": "05-validate-input",
      "name": "05-validate-input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "valid-check", "leftValue": "={{ $json.isValid }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "06-validation-gate",
      "name": "06-validation-gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, cost_price FROM products WHERE id IN ({{ $json.productIds.map(id => \"'\" + id + \"'\").join(', ') }})",
        "options": {}
      },
      "id": "18-lookup-costs",
      "name": "18-lookup-costs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1140, 200],
      "credentials": { "postgres": { "id": "XBVFwEM8RKk32yyj", "name": "Cryptico PostgreSQL" } }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Get validated input and product costs\nconst validatedInput = $('06-validation-gate').first().json;\nconst costResults = $input.all();\nconst config = validatedInput._config;\nconst items = validatedInput.items;\n\n// Build cost lookup map from database results\nconst costMap = {};\nfor (const row of costResults) {\n  if (row.json && row.json.id) {\n    costMap[row.json.id] = parseFloat(row.json.cost_price) || 0;\n  }\n}\n\n// Calculate total items cost\nlet itemsCost = 0;\nfor (const item of items) {\n  const unitCost = costMap[item.productId] || 0;\n  itemsCost += unitCost * item.quantity;\n}\n\n// Calculate profit (revenue - cost)\nconst profit = validatedInput.total - itemsCost - validatedInput.shippingFee;\n\n// Generate order ID: PS-<timestamp><random>\nconst orderId = 'PS' + Date.now().toString(36).toUpperCase().substring(0, 6) + Math.random().toString(36).substring(2, 4).toUpperCase();\nconst idempotencyKey = validatedInput.idempotencyKey || (orderId + '-' + Date.now());\nconst now = new Date().toISOString();\n\nreturn [{ json: {\n  _config: config,\n  order: {\n    id: orderId,\n    idempotency_key: idempotencyKey,\n    items: JSON.stringify(items),\n    subtotal: validatedInput.subtotal,\n    shipping_fee: validatedInput.shippingFee,\n    total: validatedInput.total,\n    items_cost: itemsCost,\n    shipping_cost: validatedInput.shippingFee,\n    profit: profit,\n    customer_name: validatedInput.customer.name,\n    customer_phone: validatedInput.customer.phone,\n    customer_email: validatedInput.customer.email,\n    shipping_address: JSON.stringify(validatedInput.customer.address),\n    payment_ref: validatedInput.paymentRef || null,\n    has_proof_image: !!validatedInput.proofImageBase64,\n    status: 'pending',\n    created_at: now,\n    updated_at: now\n  },\n  input: validatedInput,\n  proofImageBase64: validatedInput.proofImageBase64 || null,\n  costMap: costMap\n} }];"
      },
      "id": "20-generate-order",
      "name": "20-generate-order",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 200],
      "notesInFlow": true,
      "notes": "Calculates items_cost and profit from product costs"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO popshop_orders (order_id, idempotency_key, items, subtotal, shipping_fee, total, items_cost, shipping_cost, profit, customer_name, customer_phone, customer_email, shipping_address, payment_ref, has_proof_image, status, created_at, updated_at) VALUES ('{{ $json.order.id }}', '{{ $json.order.idempotency_key }}', '{{ $json.order.items }}', {{ $json.order.subtotal }}, {{ $json.order.shipping_fee }}, {{ $json.order.total }}, {{ $json.order.items_cost }}, {{ $json.order.shipping_cost }}, {{ $json.order.profit }}, '{{ $json.order.customer_name }}', '{{ $json.order.customer_phone }}', '{{ $json.order.customer_email }}', '{{ $json.order.shipping_address }}', {{ $json.order.payment_ref ? \"'\" + $json.order.payment_ref + \"'\" : 'NULL' }}, {{ $json.order.has_proof_image }}, '{{ $json.order.status }}', '{{ $json.order.created_at }}', '{{ $json.order.updated_at }}') RETURNING *",
        "options": {}
      },
      "id": "25-insert-order",
      "name": "25-insert-order",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1580, 200],
      "credentials": { "postgres": { "id": "XBVFwEM8RKk32yyj", "name": "Cryptico PostgreSQL" } },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Get order data from previous node\nconst orderData = $('20-generate-order').first().json;\nconst items = orderData.input.items;\nconst orderId = orderData.order.id;\n\n// Build inventory update statements\n// Each item has: productId, size, quantity\nconst updates = [];\nconst transactions = [];\n\nfor (const item of items) {\n  // Decrement inventory for each item\n  updates.push({\n    product_id: item.productId,\n    size_id: item.size,\n    quantity: item.quantity\n  });\n  \n  // Prepare transaction log entry\n  transactions.push({\n    product_id: item.productId,\n    size_id: item.size,\n    quantity_change: -item.quantity,\n    transaction_type: 'order_placed',\n    reference_id: orderId,\n    notes: `Order ${orderId}: ${item.productName} x${item.quantity}`\n  });\n}\n\nreturn [{ json: {\n  ...orderData,\n  inventoryUpdates: updates,\n  inventoryTransactions: transactions\n} }];"
      },
      "id": "26-prepare-inventory-update",
      "name": "26-prepare-inventory-update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 200],
      "notesInFlow": true,
      "notes": "Prepares inventory decrement data for each item"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE product_inventory pi\nSET quantity = quantity - updates.qty, updated_at = NOW()\nFROM (\n  SELECT\n    unnest(ARRAY[{{ $json.inventoryUpdates.map(u => `'${u.product_id}'`).join(', ') }}]) as product_id,\n    unnest(ARRAY[{{ $json.inventoryUpdates.map(u => `'${u.size_id}'`).join(', ') }}]) as size_id,\n    unnest(ARRAY[{{ $json.inventoryUpdates.map(u => u.quantity).join(', ') }}]::int[]) as qty\n) AS updates\nWHERE pi.product_id = updates.product_id\n  AND pi.size_id = updates.size_id\nRETURNING pi.product_id, pi.size_id, pi.quantity",
        "options": {}
      },
      "id": "27-decrement-inventory",
      "name": "27-decrement-inventory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2020, 200],
      "credentials": { "postgres": { "id": "XBVFwEM8RKk32yyj", "name": "Cryptico PostgreSQL" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO inventory_transactions (product_id, size_id, quantity_change, transaction_type, reference_id, notes, created_at) VALUES {{ $('26-prepare-inventory-update').first().json.inventoryTransactions.map(t => `('${t.product_id}', '${t.size_id}', ${t.quantity_change}, '${t.transaction_type}', '${t.reference_id}', '${t.notes.replace(/'/g, \"''\")}', NOW())`).join(', ') }}",
        "options": {}
      },
      "id": "28-log-inventory-transaction",
      "name": "28-log-inventory-transaction",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2240, 200],
      "credentials": { "postgres": { "id": "XBVFwEM8RKk32yyj", "name": "Cryptico PostgreSQL" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const orderData = $('26-prepare-inventory-update').first().json;\nconst config = orderData._config;\nconst order = orderData.order;\nconst items = orderData.input.items;\nconst proofImageBase64 = orderData.proofImageBase64;\n\nconst formatMYR = (amount) => `RM ${Number(amount).toFixed(2)}`;\n\n// Build items list\nlet itemsList = items.map(item => `  • ${item.productName} (${item.size}) x${item.quantity} - ${formatMYR(item.price * item.quantity)}`).join('\\n');\nlet itemsHtml = items.map(item => `<li>${item.productName} (${item.size}) x${item.quantity} - ${formatMYR(item.price * item.quantity)}</li>`).join('');\n\nconst address = orderData.input.customer.address;\nconst addressStr = `${address.line1}${address.line2 ? ', ' + address.line2 : ''}, ${address.postcode} ${address.city}, ${address.state}`;\n\nconst telegramMessage = `🏀 <b>NEW CBL POPSHOP ORDER</b>\\n\\n📋 <b>Order ID:</b> <code>${order.id}</code>\\n\\n🛒 <b>Items:</b>\\n${itemsList}\\n\\n💰 <b>Subtotal:</b> ${formatMYR(order.subtotal)}\\n🚚 <b>Shipping:</b> ${order.shipping_fee === 0 ? 'FREE' : formatMYR(order.shipping_fee)}\\n💵 <b>Total:</b> ${formatMYR(order.total)}\\n📊 <b>Profit:</b> ${formatMYR(order.profit)}\\n\\n👤 <b>Customer:</b>\\n├ Name: ${order.customer_name}\\n├ Phone: ${order.customer_phone}\\n├ Email: ${order.customer_email}\\n└ Address: ${addressStr}\\n\\n💳 <b>Payment Ref:</b> ${order.payment_ref || '(see attached screenshot)'}\\n📷 <b>Proof Image:</b> ${order.has_proof_image ? '✅ Attached below' : '❌ None'}\\n📅 <b>Time:</b> ${new Date(order.created_at).toLocaleString('en-MY', { dateStyle: 'medium', timeStyle: 'short' })}\\n\\n⏳ <b>Status:</b> Awaiting payment verification\\n📦 <b>Inventory:</b> ✅ Auto-decremented`;\n\nconst emailSubject = `🏀 New Order ${order.id} - ${formatMYR(order.total)} - ACTION REQUIRED`;\nconst emailHtml = `<h2>🏀 New CBL Popshop Order</h2>\n<p><strong>Order ID:</strong> ${order.id}</p>\n<h3>Items:</h3><ul>${itemsHtml}</ul>\n<p><strong>Subtotal:</strong> ${formatMYR(order.subtotal)}<br>\n<strong>Shipping:</strong> ${order.shipping_fee === 0 ? 'FREE' : formatMYR(order.shipping_fee)}<br>\n<strong>Total:</strong> ${formatMYR(order.total)}<br>\n<strong>Profit:</strong> ${formatMYR(order.profit)}</p>\n<h3>Customer:</h3>\n<p>Name: ${order.customer_name}<br>\nPhone: ${order.customer_phone}<br>\nEmail: ${order.customer_email}<br>\nAddress: ${addressStr}</p>\n<p><strong>Payment Ref:</strong> ${order.payment_ref || '(screenshot attached/uploaded)'}<br>\n<strong>Proof Image:</strong> ${order.has_proof_image ? 'Yes - check admin dashboard' : 'None'}</p>\n<p><strong>Time:</strong> ${new Date(order.created_at).toLocaleString('en-MY')}</p>\n<hr>\n<p>⚠️ <strong>ACTION REQUIRED:</strong> Please verify payment and update order status in admin dashboard.</p>\n<p>🔗 <a href=\"https://cbl-popshop.pages.dev/admin\">Open Admin Dashboard</a></p>`;\n\nconst inlineKeyboard = {\n  inline_keyboard: [\n    [\n      { text: '✅ Verify Payment', callback_data: `popshop_paid_${order.id}` },\n      { text: '❌ Cancel', callback_data: `popshop_cancel_${order.id}` }\n    ]\n  ]\n};\n\nreturn [{ json: { _config: config, order: order, telegramMessage, emailSubject, emailHtml, inlineKeyboard, proofImageBase64 } }];"
      },
      "id": "30-format-telegram",
      "name": "30-format-notifications",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2460, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "has-proof", "leftValue": "={{ $json.proofImageBase64 }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "31-check-proof-image",
      "name": "31-check-proof-image",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2680, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $input.first().json;\nconst base64 = data.proofImageBase64;\n\nlet imageData = base64;\nif (base64.includes(',')) {\n  imageData = base64.split(',')[1];\n}\n\nconst binaryData = Buffer.from(imageData, 'base64');\n\nreturn [{\n  json: data,\n  binary: {\n    data: {\n      data: binaryData.toString('base64'),\n      mimeType: 'image/png',\n      fileName: `proof_${data.order.id}.png`\n    }\n  }\n}];"
      },
      "id": "32-prepare-image",
      "name": "32-prepare-image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2900, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $json._config.TELEGRAM_BOT_TOKEN }}/sendPhoto",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "={{ $json._config.TELEGRAM_CHAT_ID }}" },
            { "name": "caption", "value": "=📷 Payment proof for Order <code>{{ $json.order.id }}</code>", "parameterType": "formData" },
            { "name": "parse_mode", "value": "HTML" },
            { "name": "photo", "parameterType": "formBinaryData", "inputDataFieldName": "data" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "33-send-proof-image",
      "name": "33-send-proof-image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3120, 100],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('30-format-notifications').first().json._config.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $('30-format-notifications').first().json._config.TELEGRAM_CHAT_ID }}\",\n  \"text\": {{ JSON.stringify($('30-format-notifications').first().json.telegramMessage) }},\n  \"parse_mode\": \"HTML\",\n  \"reply_markup\": {{ JSON.stringify($('30-format-notifications').first().json.inlineKeyboard) }}\n}",
        "options": { "timeout": 10000 }
      },
      "id": "35-send-telegram-with-buttons",
      "name": "35-send-telegram-with-buttons",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3340, 100],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $json._config.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $json._config.TELEGRAM_CHAT_ID }}\",\n  \"text\": {{ JSON.stringify($json.telegramMessage) }},\n  \"parse_mode\": \"HTML\",\n  \"reply_markup\": {{ JSON.stringify($json.inlineKeyboard) }}\n}",
        "options": { "timeout": 10000 }
      },
      "id": "35-send-telegram-no-image",
      "name": "35-send-telegram-no-image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2900, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Check if Telegram notification succeeded\nconst telegramResponse = $input.first().json;\nconst notificationData = $('30-format-notifications').first().json;\nconst config = notificationData._config;\n\n// Telegram returns {ok: true} on success\nconst telegramSuccess = telegramResponse.ok === true;\n\nreturn [{ json: {\n  telegramSuccess,\n  telegramResponse,\n  ...notificationData\n} }];"
      },
      "id": "36-check-telegram-result",
      "name": "36-check-telegram-result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3560, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "telegram-failed", "leftValue": "={{ $json.telegramSuccess }}", "rightValue": false, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "37-telegram-failed-gate",
      "name": "37-telegram-failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3780, 200]
    },
    {
      "parameters": {
        "fromEmail": "zeidalqadri@gmail.com",
        "toEmail": "={{ $json._config.ADMIN_EMAIL }}",
        "subject": "={{ $json.emailSubject }}",
        "emailType": "html",
        "html": "={{ $json.emailHtml }}",
        "options": {}
      },
      "id": "38-send-email-fallback",
      "name": "38-send-email-fallback",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [4000, 100],
      "credentials": { "smtp": { "id": "hCZX1kGIsQ2X1cVZ", "name": "Gmail SMTP" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $('30-format-notifications').first().json;\nconst order = data.order;\n\nreturn [{ json: {\n  ok: true,\n  success: true,\n  orderId: order.id,\n  status: 'pending',\n  total: order.total,\n  profit: order.profit,\n  inventoryUpdated: true,\n  estimatedDelivery: '3-5 business days after payment verification',\n  message: `Order ${order.id} submitted successfully. Inventory has been updated. You will receive updates via email.`,\n  trackingUrl: `/popshop/order/lookup?id=${order.id}`\n} }];"
      },
      "id": "55-format-response",
      "name": "55-format-response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4220, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": { "responseCode": 201, "responseHeaders": { "entries": [{ "name": "Content-Type", "value": "application/json" }] } }
      },
      "id": "60-reply-success",
      "name": "60-reply-success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [4440, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": false,\n  \"success\": false,\n  \"error_code\": \"VALIDATION_ERROR\",\n  \"message\": \"Request validation failed\",\n  \"errors\": {{ JSON.stringify($json.validationErrors) }}\n}",
        "options": { "responseCode": 400 }
      },
      "id": "99-reply-validation-error",
      "name": "99-reply-validation-error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1140, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": false,\n  \"success\": false,\n  \"error_code\": \"DATABASE_ERROR\",\n  \"message\": \"Failed to save order. Please try again.\"\n}",
        "options": { "responseCode": 500 }
      },
      "id": "99-reply-database-error",
      "name": "99-reply-database-error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1800, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Get order data from format-notifications node\nconst notificationData = $('30-format-notifications').first().json;\nconst order = notificationData.order;\nconst inventoryData = $('26-prepare-inventory-update').first().json;\nconst items = inventoryData.input.items;\nconst proofImageBase64 = notificationData.proofImageBase64;\nconst config = notificationData._config;\n\nconst formatMYR = (amount) => `RM ${Number(amount).toFixed(2)}`;\n\n// Parse shipping address\nconst address = JSON.parse(order.shipping_address);\nconst addressStr = `${address.line1}${address.line2 ? ', ' + address.line2 : ''}<br>${address.postcode} ${address.city}, ${address.state}`;\n\n// Build items table rows\nlet itemRows = items.map(item => \n  `<tr><td style=\"padding: 8px 0; border-bottom: 1px solid #e5e7eb;\">${item.productName} (${item.size}) x${item.quantity}</td><td style=\"padding: 8px 0; border-bottom: 1px solid #e5e7eb; text-align: right;\">${formatMYR(item.price * item.quantity)}</td></tr>`\n).join('');\n\nconst customerEmailHtml = `<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h1 style=\"color: #f97316;\">🏀 CBL Popshop</h1>\n  <p>Hi ${order.customer_name},</p>\n  <p>Thank you for your order!</p>\n\n  <div style=\"background: #f3f4f6; padding: 16px; border-radius: 8px; margin: 16px 0;\">\n    <p style=\"margin: 0; font-size: 14px; color: #666;\">Order ID</p>\n    <p style=\"margin: 4px 0 0 0; font-size: 24px; font-weight: bold; font-family: monospace;\">${order.id}</p>\n  </div>\n\n  <h3 style=\"margin-top: 24px;\">Order Details</h3>\n  <table style=\"width: 100%; border-collapse: collapse;\">\n    ${itemRows}\n  </table>\n  <div style=\"margin-top: 16px;\">\n    <p style=\"margin: 4px 0;\"><strong>Subtotal:</strong> ${formatMYR(order.subtotal)}</p>\n    <p style=\"margin: 4px 0;\"><strong>Shipping:</strong> ${order.shipping_fee === 0 ? 'FREE' : formatMYR(order.shipping_fee)}</p>\n    <p style=\"margin: 4px 0; font-size: 18px;\"><strong>Total:</strong> ${formatMYR(order.total)}</p>\n  </div>\n\n  <h3 style=\"margin-top: 24px;\">Shipping To</h3>\n  <p>${addressStr}</p>\n\n  <h3 style=\"margin-top: 24px;\">What's Next?</h3>\n  <ol style=\"padding-left: 20px;\">\n    <li style=\"margin-bottom: 8px;\">We'll verify your payment</li>\n    <li style=\"margin-bottom: 8px;\">Your order will be processed</li>\n    <li style=\"margin-bottom: 8px;\">You'll receive tracking info when shipped</li>\n  </ol>\n\n  <p style=\"margin-top: 24px;\"><a href=\"https://cbl-popshop.pages.dev/lookup?id=${order.id}\" style=\"display: inline-block; background: #f97316; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px;\">Track Your Order</a></p>\n\n  <hr style=\"margin: 24px 0; border: none; border-top: 1px solid #e5e7eb;\">\n  <p style=\"color: #666; font-size: 12px;\">Questions? Contact us at @cblpopshop on Telegram</p>\n</div>`;\n\nconst customerEmailSubject = `🏀 Order ${order.id} Confirmed - CBL Popshop`;\n\n// Prepare output with or without image binary\nlet output = {\n  json: {\n    _config: config,\n    order: order,\n    customerEmail: order.customer_email,\n    customerEmailSubject,\n    customerEmailHtml,\n    hasProofImage: !!proofImageBase64\n  }\n};\n\n// If we have proof image, include it as binary for attachment\nif (proofImageBase64) {\n  let imageData = proofImageBase64;\n  if (proofImageBase64.includes(',')) {\n    imageData = proofImageBase64.split(',')[1];\n  }\n  output.binary = {\n    proofImage: {\n      data: imageData,\n      mimeType: 'image/png',\n      fileName: `payment_proof_${order.id}.png`\n    }\n  };\n}\n\nreturn [output];"
      },
      "id": "40-format-customer-email",
      "name": "40-format-customer-email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4220, 0]
    },
    {
      "parameters": {
        "fromEmail": "zeidalqadri@gmail.com",
        "toEmail": "={{ $json.customerEmail }}",
        "subject": "={{ $json.customerEmailSubject }}",
        "emailType": "html",
        "html": "={{ $json.customerEmailHtml }}",
        "options": {
          "attachments": "={{ $json.hasProofImage ? 'proofImage' : '' }}"
        }
      },
      "id": "41-send-customer-email",
      "name": "41-send-customer-email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [4440, 0],
      "credentials": { "smtp": { "id": "hCZX1kGIsQ2X1cVZ", "name": "Gmail SMTP" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Extract unique product IDs from validated input to query costs\nconst input = $input.first().json;\nconst items = input.items;\n\n// Get unique product IDs\nconst productIds = [...new Set(items.map(item => item.productId))];\n\nreturn [{ json: { ...input, productIds } }];"
      },
      "id": "17-extract-product-ids",
      "name": "17-extract-product-ids",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 100]
    }
  ],
  "connections": {
    "01-trigger-webhook": { "main": [[ { "node": "02-config", "type": "main", "index": 0 } ]] },
    "02-config": { "main": [[ { "node": "05-validate-input", "type": "main", "index": 0 } ]] },
    "05-validate-input": { "main": [[ { "node": "06-validation-gate", "type": "main", "index": 0 } ]] },
    "06-validation-gate": { "main": [[ { "node": "17-extract-product-ids", "type": "main", "index": 0 } ], [ { "node": "99-reply-validation-error", "type": "main", "index": 0 } ]] },
    "17-extract-product-ids": { "main": [[ { "node": "18-lookup-costs", "type": "main", "index": 0 } ]] },
    "18-lookup-costs": { "main": [[ { "node": "20-generate-order", "type": "main", "index": 0 } ]] },
    "20-generate-order": { "main": [[ { "node": "25-insert-order", "type": "main", "index": 0 } ]] },
    "25-insert-order": { "main": [[ { "node": "26-prepare-inventory-update", "type": "main", "index": 0 } ], [ { "node": "99-reply-database-error", "type": "main", "index": 0 } ]] },
    "26-prepare-inventory-update": { "main": [[ { "node": "27-decrement-inventory", "type": "main", "index": 0 } ]] },
    "27-decrement-inventory": { "main": [[ { "node": "28-log-inventory-transaction", "type": "main", "index": 0 } ]] },
    "28-log-inventory-transaction": { "main": [[ { "node": "30-format-notifications", "type": "main", "index": 0 } ]] },
    "30-format-notifications": { "main": [[ { "node": "31-check-proof-image", "type": "main", "index": 0 } ]] },
    "31-check-proof-image": { "main": [[ { "node": "32-prepare-image", "type": "main", "index": 0 } ], [ { "node": "35-send-telegram-no-image", "type": "main", "index": 0 } ]] },
    "32-prepare-image": { "main": [[ { "node": "33-send-proof-image", "type": "main", "index": 0 } ]] },
    "33-send-proof-image": { "main": [[ { "node": "35-send-telegram-with-buttons", "type": "main", "index": 0 } ]] },
    "35-send-telegram-with-buttons": { "main": [[ { "node": "36-check-telegram-result", "type": "main", "index": 0 } ]] },
    "35-send-telegram-no-image": { "main": [[ { "node": "36-check-telegram-result", "type": "main", "index": 0 } ]] },
    "36-check-telegram-result": { "main": [[ { "node": "37-telegram-failed?", "type": "main", "index": 0 } ]] },
    "37-telegram-failed?": { "main": [[ { "node": "38-send-email-fallback", "type": "main", "index": 0 } ], [ { "node": "40-format-customer-email", "type": "main", "index": 0 } ]] },
    "38-send-email-fallback": { "main": [[ { "node": "40-format-customer-email", "type": "main", "index": 0 } ]] },
    "40-format-customer-email": { "main": [[ { "node": "41-send-customer-email", "type": "main", "index": 0 } ]] },
    "41-send-customer-email": { "main": [[ { "node": "55-format-response", "type": "main", "index": 0 } ]] },
    "55-format-response": { "main": [[ { "node": "60-reply-success", "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1", "saveExecutionProgress": true },
  "tags": [{ "name": "cbl-popshop" }, { "name": "order-submit" }, { "name": "inventory" }]
}
