cryptico/cryptico_n8n/postgres/wf-03-status-update.json
{
  "id": "Rwwm8yma9jexODs4",
  "name": "Cryptico-ATM-03-Status-Update",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order/status",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "01-trigger-webhook",
      "name": "01-trigger-webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "cryptico-status-update",
      "credentials": { "httpHeaderAuth": { "id": "L7j6V9fwqAW2mVNn", "name": "Cryptico Admin Key" } }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json.body || $input.first().json;\n\nconst errors = [];\nconst validActions = ['approve', 'reject', 'complete', 'cancel'];\nif (!input.orderId) errors.push('orderId is required');\nif (!input.action) errors.push('action is required');\nif (input.action && !validActions.includes(input.action)) errors.push(`action must be one of: ${validActions.join(', ')}`);\nif (input.action === 'complete' && !input.txHash) errors.push('txHash is required when completing an order');\n\nreturn [{ json: { ...input, isValid: errors.length === 0, validationErrors: errors, receivedAt: new Date().toISOString() } }];"
      },
      "id": "05-validate",
      "name": "05-validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "valid-check", "leftValue": "={{ $json.isValid }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "06-validation-gate",
      "name": "06-validation-gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM orders WHERE id = '{{ $json.orderId }}' LIMIT 1",
        "options": {}
      },
      "id": "10-fetch-order",
      "name": "10-fetch-order",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [920, 200],
      "credentials": { "postgres": { "id": "XBVFwEM8RKk32yyj", "name": "Cryptico PostgreSQL" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "exists-check", "leftValue": "={{ $json.id }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "11-order-exists",
      "name": "11-order-exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1140, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const order = $input.first().json;\nconst action = $('05-validate').first().json.action;\nconst txHash = $('05-validate').first().json.txHash || null;\nconst adminNote = $('05-validate').first().json.note || null;\n\nconst VALID_TRANSITIONS = {\n  'pending': ['approve', 'reject', 'cancel'],\n  'approved': ['complete', 'cancel'],\n  'completed': [],\n  'rejected': [],\n  'cancelled': []\n};\n\nconst currentStatus = order.status;\nconst allowedActions = VALID_TRANSITIONS[currentStatus] || [];\n\nif (!allowedActions.includes(action)) {\n  return [{ json: { ...order, canTransition: false, error: `Cannot ${action} an order with status '${currentStatus}'. Allowed actions: ${allowedActions.join(', ') || 'none'}`, requestedAction: action } }];\n}\n\nconst STATUS_MAP = { 'approve': 'approved', 'reject': 'rejected', 'complete': 'completed', 'cancel': 'cancelled' };\n\nreturn [{ json: { ...order, canTransition: true, requestedAction: action, newStatus: STATUS_MAP[action], txHash: txHash, adminNote: adminNote } }];"
      },
      "id": "15-validate-transition",
      "name": "15-validate-transition",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "can-transition-check", "leftValue": "={{ $json.canTransition }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "16-transition-gate",
      "name": "16-transition-gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1580, 100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE orders SET status = '{{ $json.newStatus }}', tx_hash = {{ $json.txHash ? \"'\" + $json.txHash + \"'\" : 'NULL' }}, admin_note = {{ $json.adminNote ? \"'\" + $json.adminNote + \"'\" : 'NULL' }}, updated_at = '{{ new Date().toISOString() }}' WHERE id = '{{ $json.id }}' RETURNING *",
        "options": {}
      },
      "id": "20-update-order",
      "name": "20-update-order",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1800, 0],
      "credentials": { "postgres": { "id": "XBVFwEM8RKk32yyj", "name": "Cryptico PostgreSQL" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO audit_log (entity_type, entity_id, action, old_status, new_status, details, created_at) VALUES ('order', '{{ $('15-validate-transition').first().json.id }}', '{{ $('15-validate-transition').first().json.requestedAction }}', '{{ $('15-validate-transition').first().json.status }}', '{{ $('15-validate-transition').first().json.newStatus }}', '{{ JSON.stringify({ txHash: $('15-validate-transition').first().json.txHash, note: $('15-validate-transition').first().json.adminNote }) }}', '{{ new Date().toISOString() }}')",
        "options": {}
      },
      "id": "25-audit-log",
      "name": "25-audit-log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2020, 0],
      "credentials": { "postgres": { "id": "XBVFwEM8RKk32yyj", "name": "Cryptico PostgreSQL" } }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const order = $('15-validate-transition').first().json;\n\nconst STATUS_EMOJI = { 'approved': '✅', 'rejected': '❌', 'completed': '🎉', 'cancelled': '🚫' };\nconst NETWORK_EXPLORERS = { 'TRC-20': 'https://tronscan.org/#/transaction/', 'ERC-20': 'https://etherscan.io/tx/', 'BTC': 'https://blockchair.com/bitcoin/transaction/', 'ETH': 'https://etherscan.io/tx/', 'SOL': 'https://solscan.io/tx/', 'ICP': 'https://dashboard.internetcomputer.org/transaction/' };\n\nconst formatMYR = (amount) => `RM ${Number(amount).toFixed(2)}`;\nconst formatCrypto = (amount) => Number(amount).toFixed(4);\n\nlet message = `${STATUS_EMOJI[order.newStatus] || '📋'} <b>ORDER ${order.newStatus.toUpperCase()}</b>\\n\\n📋 Order: <code>${order.id}</code>\\n👤 Customer: ${order.customer_name}\\n🪙 Amount: ${formatCrypto(order.amount_crypto)} ${order.crypto}\\n📍 Network: ${order.network}`;\n\nif (order.newStatus === 'completed' && order.txHash) {\n  const explorer = NETWORK_EXPLORERS[order.network] || '';\n  message += `\\n\\n🔗 <b>TX Hash:</b> <a href=\"${explorer}${order.txHash}\">${order.txHash.slice(0, 20)}...</a>`;\n}\n\nif (order.adminNote) message += `\\n\\n📝 <b>Note:</b> ${order.adminNote}`;\nmessage += `\\n\\n🕐 Updated: ${new Date().toLocaleString('en-MY', { dateStyle: 'medium', timeStyle: 'short' })}`;\n\nreturn [{ json: { ...order, telegramMessage: message } }];"
      },
      "id": "30-format-telegram",
      "name": "30-format-telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2240, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.CRYPTICO_TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.CRYPTICO_TELEGRAM_CHAT_ID }}\",\n  \"text\": {{ JSON.stringify($json.telegramMessage) }},\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "id": "35-send-telegram",
      "name": "35-send-telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2460, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"orderId\": \"{{ $json.id }}\",\n  \"previousStatus\": \"{{ $json.status }}\",\n  \"newStatus\": \"{{ $json.newStatus }}\",\n  \"action\": \"{{ $json.requestedAction }}\",\n  \"txHash\": {{ $json.txHash ? '\"' + $json.txHash + '\"' : 'null' }},\n  \"message\": \"Order {{ $json.id }} has been {{ $json.newStatus }}\",\n  \"updatedAt\": \"{{ new Date().toISOString() }}\"\n}",
        "options": { "responseCode": 200 }
      },
      "id": "40-reply-success",
      "name": "40-reply-success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2680, 0]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={\n  \"ok\": false,\n  \"error_code\": \"VALIDATION_ERROR\",\n  \"message\": \"Request validation failed\",\n  \"errors\": {{ JSON.stringify($json.validationErrors) }}\n}", "options": { "responseCode": 400 } },
      "id": "99-reply-validation-error",
      "name": "99-reply-validation-error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 400]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "{\n  \"ok\": false,\n  \"error_code\": \"NOT_FOUND\",\n  \"message\": \"Order not found\"\n}", "options": { "responseCode": 404 } },
      "id": "99-reply-not-found",
      "name": "99-reply-not-found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1360, 300]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={\n  \"ok\": false,\n  \"error_code\": \"INVALID_TRANSITION\",\n  \"message\": \"{{ $json.error }}\",\n  \"currentStatus\": \"{{ $json.status }}\",\n  \"requestedAction\": \"{{ $json.requestedAction }}\"\n}", "options": { "responseCode": 409 } },
      "id": "99-reply-invalid-transition",
      "name": "99-reply-invalid-transition",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1800, 200]
    }
  ],
  "connections": {
    "01-trigger-webhook": { "main": [[ { "node": "05-validate", "type": "main", "index": 0 } ]] },
    "05-validate": { "main": [[ { "node": "06-validation-gate", "type": "main", "index": 0 } ]] },
    "06-validation-gate": { "main": [[ { "node": "10-fetch-order", "type": "main", "index": 0 } ], [ { "node": "99-reply-validation-error", "type": "main", "index": 0 } ]] },
    "10-fetch-order": { "main": [[ { "node": "11-order-exists", "type": "main", "index": 0 } ]] },
    "11-order-exists": { "main": [[ { "node": "15-validate-transition", "type": "main", "index": 0 } ], [ { "node": "99-reply-not-found", "type": "main", "index": 0 } ]] },
    "15-validate-transition": { "main": [[ { "node": "16-transition-gate", "type": "main", "index": 0 } ]] },
    "16-transition-gate": { "main": [[ { "node": "20-update-order", "type": "main", "index": 0 } ], [ { "node": "99-reply-invalid-transition", "type": "main", "index": 0 } ]] },
    "20-update-order": { "main": [[ { "node": "25-audit-log", "type": "main", "index": 0 } ]] },
    "25-audit-log": { "main": [[ { "node": "30-format-telegram", "type": "main", "index": 0 } ]] },
    "30-format-telegram": { "main": [[ { "node": "35-send-telegram", "type": "main", "index": 0 } ]] },
    "35-send-telegram": { "main": [[ { "node": "40-reply-success", "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1", "saveExecutionProgress": true, "errorWorkflow": "Cryptico-ATM-07-Error-Handler" },
  "tags": [{ "name": "cryptico-atm" }, { "name": "status-update" }]
}
