cryptico/cryptico_n8n/postgres/wf-04-order-lookup.json
{
  "id": "wZJq4ncBPhTQbTsR",
  "name": "Cryptico-ATM-04-Order-Lookup",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "order/lookup/:orderId",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "01-trigger-webhook",
      "name": "01-trigger-webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "cryptico-order-lookup"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const request = $input.first().json;\nlet orderId = request.params?.orderId || '';\norderId = orderId.toString().trim().toUpperCase();\nconst isValid = /^CK[A-Z0-9]{5,15}$/.test(orderId);\n\nreturn [{ json: { orderId: orderId, isValid: isValid, error: isValid ? null : 'Invalid order ID format.' } }];"
      },
      "id": "05-validate-id",
      "name": "05-validate-id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "valid-check", "leftValue": "={{ $json.isValid }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "06-validation-gate",
      "name": "06-validation-gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM orders WHERE id = '{{ $json.orderId }}' LIMIT 1",
        "options": {}
      },
      "id": "10-fetch-order",
      "name": "10-fetch-order",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [920, 200],
      "credentials": { "postgres": { "id": "XBVFwEM8RKk32yyj", "name": "Cryptico PostgreSQL" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "exists-check", "leftValue": "={{ $json.id }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "11-order-exists",
      "name": "11-order-exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1140, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const order = $input.first().json;\n\nconst NETWORK_EXPLORERS = { 'TRC-20': 'https://tronscan.org/#/transaction/', 'ERC-20': 'https://etherscan.io/tx/', 'BTC': 'https://blockchair.com/bitcoin/transaction/', 'ETH': 'https://etherscan.io/tx/', 'SOL': 'https://solscan.io/tx/', 'ICP': 'https://dashboard.internetcomputer.org/transaction/' };\n\nconst STATUS_DISPLAY = {\n  'pending': { label: 'Pending Verification', emoji: '⏳', description: 'Your payment is being verified.' },\n  'approved': { label: 'Approved - Processing', emoji: '✅', description: 'Payment verified! Crypto being sent.' },\n  'completed': { label: 'Completed', emoji: '🎉', description: 'Transaction complete!' },\n  'rejected': { label: 'Rejected', emoji: '❌', description: 'Payment could not be verified.' },\n  'cancelled': { label: 'Cancelled', emoji: '🚫', description: 'Order cancelled.' }\n};\n\nconst statusInfo = STATUS_DISPLAY[order.status] || STATUS_DISPLAY['pending'];\n\nconst sanitized = {\n  id: order.id,\n  status: order.status,\n  statusDisplay: statusInfo,\n  crypto: order.crypto,\n  network: order.network,\n  amountMYR: order.amount_myr,\n  amountCrypto: order.amount_crypto,\n  networkFee: order.network_fee,\n  rate: order.rate,\n  customerName: order.customer_name,\n  walletAddress: order.wallet_address ? order.wallet_address.slice(0, 8) + '...' + order.wallet_address.slice(-6) : null,\n  createdAt: order.created_at,\n  updatedAt: order.updated_at\n};\n\nif (order.status === 'completed' && order.tx_hash) {\n  sanitized.txHash = order.tx_hash;\n  sanitized.txExplorerUrl = (NETWORK_EXPLORERS[order.network] || '') + order.tx_hash;\n}\n\nreturn [{ json: sanitized }];"
      },
      "id": "15-sanitize-response",
      "name": "15-sanitize-response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"order\": {{ JSON.stringify($json) }}\n}",
        "options": { "responseCode": 200 }
      },
      "id": "20-reply-success",
      "name": "20-reply-success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1580, 100]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={\n  \"ok\": false,\n  \"error_code\": \"INVALID_ID\",\n  \"message\": \"{{ $json.error }}\"\n}", "options": { "responseCode": 400 } },
      "id": "99-reply-invalid-id",
      "name": "99-reply-invalid-id",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 400]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "{\n  \"ok\": false,\n  \"error_code\": \"NOT_FOUND\",\n  \"message\": \"Order not found.\"\n}", "options": { "responseCode": 404 } },
      "id": "99-reply-not-found",
      "name": "99-reply-not-found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1360, 300]
    }
  ],
  "connections": {
    "01-trigger-webhook": { "main": [[ { "node": "05-validate-id", "type": "main", "index": 0 } ]] },
    "05-validate-id": { "main": [[ { "node": "06-validation-gate", "type": "main", "index": 0 } ]] },
    "06-validation-gate": { "main": [[ { "node": "10-fetch-order", "type": "main", "index": 0 } ], [ { "node": "99-reply-invalid-id", "type": "main", "index": 0 } ]] },
    "10-fetch-order": { "main": [[ { "node": "11-order-exists", "type": "main", "index": 0 } ]] },
    "11-order-exists": { "main": [[ { "node": "15-sanitize-response", "type": "main", "index": 0 } ], [ { "node": "99-reply-not-found", "type": "main", "index": 0 } ]] },
    "15-sanitize-response": { "main": [[ { "node": "20-reply-success", "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1", "saveExecutionProgress": true, "errorWorkflow": "Cryptico-ATM-07-Error-Handler" },
  "tags": [{ "name": "cryptico-atm" }, { "name": "order-lookup" }]
}
